.grid-disabled {
  transform: scale(0.8);
  transition: all 1s ease;
  opacity: 0.7;
}

.grid {
  background-color: $grid-color;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(cell-size('default'), 1fr));

  @include media('small') {
    grid-template-columns: repeat(auto-fit, minmax(cell-size('small'), 1fr));
  }
  @include media('medium') {
    grid-template-columns: repeat(auto-fit, minmax(cell-size('medium'), 1fr));
  }
  @include media('large') {
    grid-template-columns: repeat(auto-fit, minmax(cell-size('large'), 1fr));
  }
  @include media('huge') {
    grid-template-columns: repeat(auto-fit, minmax(cell-size('huge'), 1fr));
  }
  @include responsiveCellSize(10);

  &-title {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;

    @include media('small') {
      margin: 1rem 0;
      font-size: 1rem;
      color: #ffd700;
    }
    @include media('medium') {
      margin: 1rem 0;
      font-size: 1.3rem;
      color: #ff0000;
    }
    @include media('large') {
      margin: 1rem 0;
      font-size: 1.5rem;
      color: #00ff40;
    }
    @include media('huge') {
      margin: 1rem 0;
      font-size: 1.8rem;
      color: #e100ff;
    }
  }

  &-cell {
    border: 1px solid cell-color('border');
    @include responsiveCellSize;

    &:hover {
      cursor: pointer;
      background-color: cell-color('hover');
      -webkit-box-shadow: 0px 0px 5px 0px cell-color('hover');
      -moz-box-shadow: 0px 0px 5px 0px cell-color('hover');
      box-shadow: 0px 0px 5px 0px cell-color('hover');
    }
  }
}

.hit {
  background: $hit;
  clip-path: polygon(
    49% 0,
    61% 19%,
    100% 1%,
    79% 36%,
    97% 40%,
    83% 53%,
    96% 73%,
    76% 74%,
    80% 100%,
    59% 79%,
    46% 100%,
    38% 81%,
    0 100%,
    19% 67%,
    4% 62%,
    19% 47%,
    0 31%,
    26% 30%,
    13% 1%,
    41% 21%
  );
}
.miss {
  background-color: $miss;
}
.placed {
  background-color: $placed;
}
