.title {
  font-size: 2.2rem;
  margin: 1.5rem 0 0 0;
  text-align: center;
  text-transform: uppercase;

  & a {
    color: inherit;
    font-size: 1.5rem;
  }

  @include media('small') {
    font-size: 3rem;
    margin: 2rem;
    color: #ffd700;
  }
  @include media('medium') {
    font-size: 5rem;
    margin: 2rem;
    color: #ff0000;
  }
  @include media('large') {
    font-size: 5rem;
    margin: 3rem;
    color: #00ff40;
  }
  @include media('huge') {
    font-size: 5rem;
    margin: 3.5rem;
    color: #e100ff;
  }
}
