// size
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Enter/Exit
@mixin slide-in-out {
  &.slide-in {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.7s ease;
  }

  &.slide-out {
    transform: translateX(-17rem);
    opacity: 0;
    transition: all 0.7s ease;
  }
}

@mixin show {
  &.show {
    visibility: visible;
    opacity: 1;
  }
}
