// BACKGROUND
$bg-color: #0b043c;
$shadow-size: 0px 0px 5px 0px;

// TEXT
$text-colors: ('primary': #ff0000, 'secondary': #ffffff);

// GRID
$grid-color: #0b043c;
$grid-borders: (
  'p1':linear-gradient(-45deg, #00c853, #b2ff59),
  'p2':linear-gradient(-45deg, #ff0000, #fae900)
);

// CELLS
$cell-colors: ('bg': #00c1fc, 'hover': #ff0000, 'border': #ffffff36);
$cell-sizes: (
  'default': 2rem,
  'small': 1rem,
  'medium': 2rem,
  'large': 2.5rem,
  'huge': 3rem
);

// CELL EVENTS
$hit: radial-gradient(circle, #fff400 8%, #ba0505 55%);
$miss: #0f3366;

// SHIPS
$destroyer-color: rgb(173, 20, 0);
$destroyer-border: rgb(255, 8, 0);

$submarine-color: rgb(196, 152, 11);
$submarine-border: rgb(240, 209, 106);

$cruiser-color: rgb(55, 158, 7);
$cruiser-border: rgb(122, 240, 106);

$battleship-color: rgb(51, 63, 236);
$battleship-border: rgb(106, 137, 240);

$carrier-color: rgb(70, 6, 153);
$carrier-border: rgb(157, 106, 240);

// BREAKPOINTS FOR MEDIA QUERIES
$breakpoints: ('small': 576px, 'medium': 768px, 'large': 992px, 'huge': 1200px);
