.fleet-autoplace,
.play-again,
.start {
  font-size: 1rem;
  background-color: $bg-color;
  color: inherit;
  border: 1px solid cell-color('border');
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px cell-color('hover');
    -moz-box-shadow: 0px 0px 5px 0px cell-color('hover');
    box-shadow: 0px 0px 5px 0px cell-color('hover');
  }
}

.fleet-autoplace {
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s ease;
  @include show;
  @include size(10em, 2em);
  font-size: 1.5rem;

  @include media('small') {
    font-size: 0.7rem;
  }
  @include media('medium') {
    font-size: 1rem;
  }
  @include media('large') {
    font-size: 1.2rem;
  }
  @include media('huge') {
    font-size: 1.3rem;
  }
}
.play-again {
  font-size: inherit;
  @include size(10em, 2em);
}
.start {
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s ease;
  @include show;
  @include size(5em, 2em);
  font-size: 3.5rem;

  @include media('small') {
    font-size: 1.4rem;
  }
  @include media('medium') {
    font-size: 2.1rem;
  }
  @include media('large') {
    position: absolute;
    font-size: 2.7rem;
  }
  @include media('huge') {
    position: absolute;
    font-size: 3.2rem;
  }
}
