.fleet-autoplace,
.play-again,
.start {
  font-size: 1rem;
  background-color: $bg-color;
  color: inherit;
  border: 1px solid $cell-border;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px $cell-hover;
    -moz-box-shadow: 0px 0px 5px 0px $cell-hover;
    box-shadow: 0px 0px 5px 0px $cell-hover;
  }
}

.fleet-autoplace {
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s ease;
  @include size(10rem, 2rem);
  @include show;
}
.play-again {
  font-size: inherit;
  @include size(30rem, 5rem);
}
.start {
  position: absolute;
  visibility: hidden;
  font-size: 3rem;
  opacity: 0;
  transition: opacity 2s ease;
  @include size(5em, 2em);
  @include show;
}
