.game-container {
  display: flex;
  justify-content: center;
}

.fleet-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20rem;
}

.ship {
  display: flex;
  width: min-content;
  height: min-content;

  cursor: grab;
  & div {
    height: $cell-size;
    width: $cell-size;
  }
}
.vertical {
  flex-direction: column;
}

.destroyer {
  background-color: $destroyer-color;
  border: 1px solid $destroyer-border;
}
.submarine {
  background-color: $submarine-color;
  border: 1px solid $submarine-border;
}
.cruiser {
  background-color: $cruiser-color;
  border: 1px solid $cruiser-border;
}
.battleship {
  background-color: $battleship-color;
  border: 1px solid $battleship-border;
}
.carrier {
  background-color: $carrier-color;
  border: 1px solid $carrier-border;
}

.gameboards-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.gameboard {
  transition: all 1s ease;
}
.grid-disabled {
  transform: scale(0.8);
  transition: all 1s ease;
  opacity: 0.5;
}

.grid {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax($cell-size, 1fr));
  background-color: $grid-color;
  width: $cell-size*10;
  height: $cell-size*10;

  &-cell {
    height: $cell-size;
    width: $cell-size;
    border: 1px solid $cell-border;

    &:hover {
      cursor: pointer;
      background-color: $cell-hover;
      -webkit-box-shadow: 0px 0px 5px 0px $cell-hover;
      -moz-box-shadow: 0px 0px 5px 0px $cell-hover;
      box-shadow: 0px 0px 5px 0px $cell-hover;
    }
  }
}

.hit {
  background: $hit;
  clip-path: polygon(
    49% 0,
    61% 19%,
    100% 1%,
    79% 36%,
    97% 40%,
    83% 53%,
    96% 73%,
    76% 74%,
    80% 100%,
    59% 79%,
    46% 100%,
    38% 81%,
    0 100%,
    19% 67%,
    4% 62%,
    19% 47%,
    0 31%,
    26% 30%,
    13% 1%,
    41% 21%
  );
}
.miss {
  background-color: $miss;
}
.placed {
  background-color: $placed;
}

// Title
.title {
  font-size: 5rem;
  text-align: center;
  margin: 5rem;
  text-transform: uppercase;
}

// Buttons
.fleet-autoplace,
.play-again,
.start {
  font-size: 1rem;
  width: 10rem;
  height: 2rem;
  background-color: $bg-color;
  color: inherit;
  border: 1px solid $cell-border;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px $cell-hover;
    -moz-box-shadow: 0px 0px 5px 0px $cell-hover;
    box-shadow: 0px 0px 5px 0px $cell-hover;
  }
}

.fleet-autoplace {
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s ease;
}
.play-again {
  font-size: inherit;
  width: 30rem;
  height: 5rem;
}
.start {
  visibility: hidden;
  font-size: 2rem;
  width: 10rem;
  height: 3.5rem;
  opacity: 0;
  transition: opacity 2s ease;
}

.info-container {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity 2s ease;
}

.show {
  visibility: visible;
  opacity: 1;
}
