* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Audiowide', cursive;
}

html {
  position: relative;
  min-height: 100%;
  background: $bg-color;
  background: $bg-gradient;
  background-size: cover;
}

html,
body {
  font-size: 100%;
  color: $text-color;
}
